.main {
  margin-top: 200px;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

.logo{
  display:block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.searchbar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: 24px;
  width: 500px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.btn {
  font-family:Segoe UI;
  font-weight: 500;
  color: #484848;
  margin:20px 8px 0px 0px;
  background-color: rgb(240, 240, 240);
  line-height: 25px;
  border: 0px solid black;
  border-radius: 5px;
  padding-top: 5px;
  padding-left: 20px; 
  padding-right: 20px; 
  padding-bottom: 5px;
}

